/*--------------------- 
-Font--Be Vietam Pro-
----------------------- */
body{
    font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
}

/*--------------------------------------------
             body-digine
--------------------------------------------- */
main{
    display: grid;
    justify-content: center;
}
.top-header{
  
}
.button{
    text-decoration: none;
}
/* -----------------------------
-----top-section-style----------
-------------------------------- */
.top-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.half-width{
    Width:582px;
    Height:254px;
}
.first-part{

    background-color: #FFFFFF;
    Width:582px;
    Height:254px;
}

.first-part h1{
    font-weight: 700;
    font-size: 45px;
}
.first-part button{
   
    background-color: #E02C6D;
}
.half-width{
    Width:448.44px;
    Height:419.89px;
}
.half-width img{
    Width:448.44px;
    Height:419.89px;

}
.button-one{
    display: flex;
    flex-direction: row;

    align-items: flex-start;

    padding: 10px 24px 10px 24px;
    width: 196px;

    height: 44px;
    
    border-radius: 41px;

    
}
.button-anchor-preebook{
    color: #FFFFFF;
    font-weight: 700;
    
    
    
}
/*-------------------
   populer-collection 
---------------------*/
.popular-collection{
    background-color:white; 
    width: 1047px;
    height: 1663px;
    

}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.all-products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 41px;
    grid-column-gap: 23px;

   
}

.products{
    
    width: 329px;
    height: 476.29px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.product{
    margin-left: 15px;
    margin-top: 17px;
    margin-bottom: 17px;
}


.product .product-img img{
    width: 300px;
    height: 256.15px;
}


.fa-star{
    color: #FB8200;
}
.ancor-button{
    Width:99px;
    Height:24.01px;
    color: #E02C6D;
    float: right;

   
 

}
.button-tow{
    font-weight: 700;
   
   
   
    color: rgba(224, 44, 109, 0.87);

}

/*--------------------------------
bonuse-work
-------------------------------------------- */
.lust-section{
    display:grid;
    justify-content: center;
    margin-top: 200px;
}
.main-lustsection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.main-lustsection img{
    width: 404px;
    height: 270px;
}
.gear-dtls{
    width: 610px;
    height: 224px;
}


/*-------------------------------------
             footer
 ---------------------------------------- */
 .footer-main{
    margin-top: 300px;
    display: grid;
    justify-content: center;
    color:#FFFFFF;
    background-color:#0A0826;
    
    
     
 }
 .p-tag{
     align-items: center;
 }
 .hthree-tag{
    text-align: center;
 }

.icon{
    text-align: center;
}


/*------------------------------------

              @media queries
----------------------------------- */

@media screen and (max-width:688px) {
    
    
    .top-header{
        text-align: center;
    }
    .first-part{
        width: 404px;

        top: 352px;
    }


    .top-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(1 1fr);
        flex-direction: column;
        
    }
    .section-title{
        width: 100%;
        text-align: center;
    }
    .all-products{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-template-columns: repeat(1 1fr);
        flex-direction: column;

    }
    .bonuse-main-section{
     
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1 1fr);
        flex-direction: column;
        margin-top: 3028px;

    }
    footer{
        
       

        margin-top: 116px;
        

    }




        
    
    
    
}


